<div class="nine.columns.centered" data-ng-controller="appFsMvc.Controllers.contactDetailController">
    <p class="row">
        <a href="#/create" class="small button radius">Create Contact</a>
    </p>
    <div class="row">
        <div class="four columns header">FirstName</div>
        <div class="four columns header">LastName</div>
        <div class="two columns header">Email</div>
        <div class="two columns header">Avatar</div>
    </div>
    
    <div data-ng-repeat="contact in contacts">
        <div class="row">
            <div class="four columns">{{contact.firstName}}</div>
            <div class="four columns">{{contact.lastName}}</div>
            <div class="two columns">{{contact.email}}</div>
            <div class="two columns">{{contact.avatar}}</div>
        </div>
    </div>
</div>